.titulo {
    font-size: 10rem;
    font-weight: 50;
    color: rgba(241, 171, 113, 0.76);
}





.eliminar-btn {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tarea-item:hover .eliminar-btn {
    opacity: 1;
}